body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.base {
  text-align: left;
}

img {
  max-width: 100%;
  width: 19rem;
  height: 20rem;
  /* border-radius: 10%; */
}

a {
  text-decoration: none;
  color: #007bff;
}
